<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="kaiserguy.lfhb" android:installLocation="auto" android:versionName="2.5.0" android:versionCode="35">

    <uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
	</uses-permission>
    <application android:label="@string/app_name"
            android:icon="@drawable/ic_blacksheep" android:allowClearUserData="true">

        <!-- The default activity of the app.  Can also display search results. -->
        <activity android:name=".SearchableHymnBook"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar" android:alwaysRetainTaskState="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <!-- Displays the text of a hymn. -->
        <activity android:name=".HymnActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:configChanges="keyboardHidden|orientation" />
                
        <!-- Displays the author of a hymn. -->
        <activity android:name=".AuthorActivity"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".AuthorHymnPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".AuthorPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".FirstLinesByLetterPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".FirstLinesByNumberPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".HymnSearchPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".LetterPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".MeterHymnPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".MeterPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".NumberGroupPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".NumberPad"
                android:theme="@android:style/Theme.NoTitleBar"/>
		        
        <!-- Displays  -->
        <activity android:name=".NumberPicker"
                android:theme="@android:style/Theme.NoTitleBar"/>
		                
        <!-- Displays and plays tunes available for a  hymn. -->
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".TunesActivity"/>

        <!-- Provides search suggestions for hymns and their meters. -->
        <provider android:name="HymnBookProvider"
                android:authorities="lfhbhymnbook" android:syncable="true"/>
    </application>
</manifest>
